
<section class="container md:max-w-[90%] md:m-auto h-screen  flex flex-col justify-center items-center">
  <p class="text-2xl text-white bg-yellow-800 rounded-full p-2 shadow-2xl">Angular With Tailwind</p>
  <section class="border border-amber-50 shadow-2xl flex justify-center items-center  text-center bg-amber-50 w-full h-[80%] m-2">
    <div class="sSection left">
      left
    </div>
    <div class="sSection left m-auto">
      <ngt-canvas [sceneGraph]="sceneGraph" [camera]="{ zoom: 10,  }"  />
    </div>
  </section>

</section>
